svg {
    position: absolute;
    bottom: 0;
}

* {
    animation: linear forwards infinite;
}

.star-wrapper {
    bottom: 100px;
}

.hero-circle {
    left: calc(100% - 200px);
    animation-name: spin;
    animation-duration: 2s;
}

.hero-squigg {
    animation-name: move-updown;
    animation-duration: 1.5s;
    animation-direction: alternate;
}

.hero-triangle {
    animation-name: move-around-viewport;
    animation-duration: 5s;
}

.section-2:hover {
    background-color: var(--black);
}

.section-2:hover .section-2-content {
    animation-name: rainbow-loop;
    animation-duration: 2s;
    animation-direction: alternate;
}
.star {
    left: calc(50vw + 200px);
    top: 125%;
    animation-name: spin;
    animation-duration: 12s;
}

.star:hover {
    animation-duration: 1s;
}

.hero-banner-home {
  --s: 4vw; /* control the size*/
  --c1: var(--blue);
  --c2: var(--purple);
  --c3: var(--black);
  
  --g1: conic-gradient(at calc(250%/3) calc(50%/3),var(--c2) 60deg,#0000 0 300deg,var(--c1) 0);
  --g2: conic-gradient(at calc(50%/3) 50%,#0000 75%,var(--c1) 0);
  --g3: conic-gradient(at calc(100%/3) 50%,#0000 75%,var(--c2) 0);
  --g4: conic-gradient(from 59deg at calc(200%/3) calc(249%/9),var(--c3) 61deg,#0000 62deg);
  --g5: conic-gradient(from 60deg at 50% calc(250%/3),var(--orange) /*4th color*/ 60deg,var(--c1) 0 120deg,#0000 0);
  --_p: calc(9*tan(30deg)*var(--s));
  background:
    var(--g1) calc(-1*var(--s)) 0,var(--g1) calc(2*var(--s)) var(--_p),
    var(--g2),var(--g2) calc(3*var(--s)) var(--_p),
    var(--g3),var(--g3) calc(3*var(--s)) var(--_p),
    var(--g4),var(--g4) calc(3*var(--s)) var(--_p),
    var(--g5) calc(3*var(--s)) 0,var(--g5) 0 var(--_p) var(--c3);
  background-size: calc(6*var(--s)) calc(2*var(--_p));
}

.section-4 {
        --s: 6vw; /* control the size*/
        --c1: var(--black);
        --c2: var(--musty-green);
        --c3: #2e0092;
        
        --_g: conic-gradient(at 50% 25%,#0000 75%,var(--c1) 0);
        background:
          var(--_g),var(--_g) var(--s) var(--s),
          var(--_g) calc(2*var(--s)) calc(2*var(--s)),
          var(--_g) calc(3*var(--s)) calc(3*var(--s)),
          repeating-linear-gradient(135deg,var(--c2) 0 12.5%,var(--c3) 0 25%);
        background-size: calc(4*var(--s)) calc(4*var(--s));
      }