@keyframes move-up {
    from {transform: translateY(0);}
    to {transform: translateY(-100vh);}
}

@keyframes spin {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

svg {
    position: absolute;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

.hero-circle {
    left: calc(100% - 200px);
    bottom: 0;
    animation-name: spin;
    animation-duration: 2s;
}

.hero-squigg {
    bottom: 0;
    animation-name: move-up;
    animation-duration: 2s;
    animation-direction: alternate;
}

.star {
    animation-name: spin;
    animation-duration: 8s;
    left: calc(50vw + 200px);
    top: 125%;
}