

/* ---------- UNIVERSAL STYLES ---------- */

* {
    font-family: Helvetica, sans-serif;
    font-family: "Noto Sans", sans-serif;
    font-size: 16px;
    line-height: auto;
    scroll-behavior: smooth;
    --black: #121212;
    --white: #fff;
    --red: #ff191d;
    --orange: #ff842c;
    --yellow: #ffe642;
    --green: #00cd59;
    --blue: #1444d3;
    --purple: #6e35fd;
    --black-20a: rgba(0, 0, 0, .2);
    --musty-green: #002e28;

}

body {
    position: relative;
    left: 0;
    min-height: 100vh;
    max-width: 100vw;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 900;
}

p {
    font-weight: 600;
}

/* Type scale setup by https://typescale.com/ */

h1 {font-size: 3.815rem;}

h2 {font-size: 3.052rem;}

h3, h4 {font-size: 2.441rem;}

h5 {font-size: 1.953rem;}

h6 {font-size: 1.563rem;}

button {
    cursor: pointer;
}

button a {
    display: inline-block;
    text-decoration: none;
    width: 100%;
    padding: 20px;
}

table {
    width: 100%;
    border-spacing: 0;
    text-align: left;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid var(--black);
    padding: 10px;
}

.table-content-center thead,
.table-content-center tbody td {
    text-align: center;
}

.skip-link {
    position: absolute;
    top: -100px;
    left: 0;
    padding: 20px;
    z-index: 2000000;
    font-size: 1.25rem;
    background-color: var(--white);
}

.skip-link:focus {
    top: 0;
}

picture {
    width: 100%;
}

picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}




/* ---------- REUSABLE CLASSES ---------- */

.block {
    display: block;
}

.max-width {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

.max-width-narrow {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.overflow-hidden {
    overflow: hidden;
}

.vertical-align {
    margin-top: auto;
    margin-bottom: auto;
}

.relative {
    position: relative;
}



.flex {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.flex-row {
    flex-direction: row;
}

.flex-reverse {
    flex-direction: column-reverse;
}

.flex-a-i-center {
    align-items: center;
}

.flex-a-s-center {
    align-self: center;
}

/* .gap-20 {
    gap: 20px;
} */

.flex-item-r-25 {
    flex: 0 0 50%;
    padding: 10px;
}

.flex-item-img img {
    position: relative;
    min-width: 135%;
    left: -20%;
    top: -10%;
}

.flex-item-33,
.flex-item-50,
.flex-item-67,
.flex-item-100 {
    flex: 100%;
}



.grid {
    display: grid;
}

.grid-1-2-3rd,
.grid-2,
.grid-3,
.grid-4 {
    grid-template-columns: 1fr;
}

.grid-gap-20 {
    gap: 20px;
}

.grid-content-center {
    justify-content: center;
    align-items: center;
}



.h-sans {
    font-family: "Noto Sans", serif;
}

.text-center {
    text-align: center;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.white,
.text-white {
    color: white;
}

.red,
.text-red {
    color: var(--red);
}

.orange,
.text-orange {
    color: var(--orange);
}

.yellow,
.text-yellow {
    color: var(--yellow);
}

.green,
.text-green {
    color: var(--green);
}

.blue,
.text-blue {
    color: var(--blue);
}

.purple,
.text-purple {
    color: var(--purple);
}

.musty-green, .text-musty-green {
    color: var(--musty-green);
}



.bg-white {
    background-color: var(--white);
}

.bg-black {
    background-color: var(--black);
}

.bg-red {
    background-color: var(--red);
}

.bg-orange {
    background-color: var(--orange);
}

.bg-yellow {
    background-color: var(--yellow);
}

.bg-green {
    background-color: var(--green);
}

.bg-blue {
    background-color: var(--blue);
}

.bg-purple {
    background-color: var(--purple);
}



.box-shadow {
    box-shadow: 4px 8px 16px rgba(144, 144, 144, .3);
}

.box-shadow-white {
    box-shadow: 4px 8px 16px rgba(255, 255, 255, .25);
}

.box-shadow-light-red {
    box-shadow: 4px 8px 16px rgba(255, 212, 212, .3);
}

.rounded-corners {
    border-radius: 10px;
}



/* margins and paddings */

.marg-b-20,
.marg-b-50 {
    margin-bottom: 20px;
}

.marg-b-0 {
    margin-bottom: 0;
}

.pad-20 {
    padding: 20px;
}

.pad-lr-20 {
    padding-left: 20px;
    padding-right: 20px;
}

.pad-tb-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.pad-tb-50,
.pad-tb-100,
.pad-tb-200 {
    padding-top: 50px;
    padding-bottom: 50px;
}



.btn-reg {
    border: none;
    background-color: var(--primary);
}



.lightbox {
    position: fixed;
    z-index: 1500;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-height: 100%;
    padding: 20px;
    object-fit: contain;
}

.lightbox-overlay {
    position: fixed;
    z-index: 1100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--black);
}

#lightbox-btn {
    position: fixed;
    background-color: initial !important;
    z-index: 2000;
    top: 20px;
    right: 20px;
    background-color: inherit;
    padding: 20px;
}

#lightbox-btn svg {
    position: static;
}

.lightbox-overlay, #lightbox-btn {
    display: none;
}

.gallery-item:hover {
    cursor: pointer;
}

.gallery-item.lightbox {
    cursor: default;
}


/* ---------- HEADER STYLES ---------- */

nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    padding: 0 20px;
}

.nav-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.nav-container ul {
    width: 100%;
    padding: 0;
}

.nav-container li {
    display: inline-block;
}

nav p,
nav a {
    display: inline-block;
    width: 100%;
    color: var(--white);
    text-decoration: none;
    font-weight: 600;
}

nav a {
    padding: 20px 40px;
}

nav a:hover {
    color: var(--red);
}

nav .tagline {
    font-size: 1.25rem;
    font-weight: 900;
    padding: 20px;
    margin-bottom: 0;
}

.nav-current a {
    border-bottom: 8px solid var(--white);
}

.nav-current a:hover {
    border-bottom-color: var(--red);
}



.hero-banner {
    min-height: 100vh;
}

.hero-banner button {
    width: 100%;
    max-width: 400px;
}

.hero-banner-content {
    margin-left: auto;
    margin-right: auto;
}

.hero-banner-home .hero-banner-content {
    padding-top: 33.33vh;
}

.hero-banner-parallax {
    background-attachment: fixed;
}



@media only screen and (min-width: 768px) {

    * {
        font-size: 28px;
    }

    .marg-b-50 {
        margin-bottom: 50px;
    }

    .pad-tb-50 {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .pad-tb-100 {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .pad-tb-200 {
        padding-top: 200px;
        padding-bottom: 200px;
    }



    .flex {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .flex-item-r-25 {
        flex: 25%;
    }

    .flex-item-50,
    .flex-item-33,
    .flex-item-67 {
        flex: 0 0 50%;
    }

    .grid-1-2-3rd {
        grid-template-columns: 1fr 2fr;
    }

    .grid-2,
    .grid-4 {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid-3 {
        grid-template-columns: repeat(3, 1fr);
    }




    nav {
        position: fixed;
    }

    .nav-container {
        flex-direction: row;
    }

    .nav-container ul {
        width: 75%;
        text-align: end;
    }

    .nav-container li {
        width: max-content;
    }

    nav .tagline {
        width: 25%;
    }

    .hero-banner {
        height: 20vh;
    }

    .hero-banner-home {
        margin-top: 0;
    }

    .hero-banner-home .hero-banner-content {
        margin-top: calc(50vh -335px);
    }



    #lightbox-btn p {
        font-size: 0.75rem;
    }

}

@media only screen and (min-width: 1024px) {

    .flex-item-33 {
        flex: 0 0 33.3%;
    }

    .flex-item-67 {
        flex: 0 0 66.7%;
    }

    .grid-4 {
        grid-template-columns: repeat(4, 1fr);
    }

}