.section-1 {
    --s: 20vw;
    /* control the size*/
    --c1: var(--musty-green);
    --c2: var(--blue);
    --c3: var(--black);

    background: 
    repeating-conic-gradient(#0000 0 25%,var(--c1) 0 50%)
    0 0/calc(2*var(--s)) var(--s),
    linear-gradient(-45deg,var(--c2) 33.3%,var(--c3) 0)
    0 0/var(--s) calc(var(--s)/2);

    background-attachment: fixed;

    width: 100vw;
    /* Full viewport width */
    height: 100vh;
    /* Full viewport height */
}

.section-1 .content {
    margin-top: 50vh;
}

.me-head {
    position: absolute;
    width: 200px;
    aspect-ratio: 1 / 1;
    animation:
        moveX 2s linear infinite alternate,
        moveY 3.14159s linear infinite alternate,
        spin 5s linear infinite forwards;
}

/* .me-head:hover {
    animation-play-state: paused;
} */